<%- include("partials/header" , {ok : login}); -%>
<h1>Question : </h1>
<h3><%= heading%> </h3>
<p><%=discription %></p>
<h1>Answer : </h1>
<p> <%= answer %> </p>
<%- include("./partials/footer.ejs"); -%>