<%- include("partials/header" , {ok : login}); -%>
<main id="main">
    <section class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="/">Home</a></li>
                    <li><a href="/questions">Questions</a></li>
                    <li>Question</li>
                </ol>
                <h2>Question : </h2>
            </div>
        </section>
        <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
            <div class="row">
            <div class="col-lg-8 entries">
            <article class="entry entry-single">
            <h2 class="entry-title">
                <a href="/questions/<%=question.id%>">
                        <%= question.heading%></a>
                </h2>
                <div class="entry-content">
                    <p> <%= question.discription%>
                        </p>
                        </div>
                    </article>
                    <h1>Answers : </h1>
                    <ol>
                        <% answers.forEach((ans)=>{ %>
                            <article class="entry" id="main-article">                                
                                <div class="entry-content">
                               <li> <p> <%= ans.answer %></p> </li>
                            </div> 
                            </article>
                        <% }) %>
                    </ol>
                    
                                    </div> 
                                </div>
                            </div><!-- End sidebar recent posts-->
                      </section>
<%- include("./partials/footer.ejs"); -%>